In [6]:
#2. Take input A and B and print their sum, mul, div, square of the nos.
a = 2
b = 2
print(a + b)

4

In [2]:
print(a*b)

4

In [3]:
print(a/b)

1.0

In [4]:
print(a**a)

4

In [5]:
#4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com
last_name = input("enter the last_name : ")
first_name = input("enter the first_name : ")
print(f"{last_name}.{first_name}@gmail.com")

enter the last_name : varma
enter the first_name : sai
varma.sai@gmail.com

In [7]:
#3. How many reserve keywords are there in python and why we should not use them as a variable name.
"""
and
except
lambda
with
as
finally
nonlocal
while
assert
false
None
yield
break
for
not

class
from
or

continue
global
pass

def
if
raise

del
import
return

elif
in
True

else
is
try"""

'\nand\nexcept\nlambda\nwith\nas\nfinally\nnonlocal\nwhile\nassert\nfalse\nNone\nyield\nbreak\nfor\nnot\n\nclass\nfrom\nor\n\ncontinue\nglobal\npass\n\ndef\nif\nraise\n\ndel\nimport\nreturn\n\nelif\nin\nTrue\n\nelse\nis\ntry'

In [9]:
#7. Convert the following - 
 # - "22.4" into integer
  #- "22" into complex no.

In [10]:
A = 22.4
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 22.4
data type after: <class 'int'>, value of A: 22

In [11]:
A = 22
print(f"data type before: {type(A)}, value of A: {A}")
A = complex(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 22
data type after: <class 'complex'>, value of A: (22+0j)

In [13]:
#6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
name = input("enter the name:")
address = input("enter the address:")
dob = input("enter the dob:")
email_id = input("enter the email_id:")
print(f"""name:{name}
      address:{address}
      dob:{dob}
      email_id:{email_id}""")

enter the name:varma
enter the address:sompeta
enter the dob:15-08-1998
enter the email_id:ssvarma6264@gmail.com
name:varma
      address:sompeta
      dob:15-08-1998
      email_id:ssvarma6264@gmail.com

In [14]:
#5. Try to print the following lines - 
 # - Hi I'm Sunny
  #- My address is 22\3 
  #- I earn 20$ daily.

In [18]:
print("""Hi I'm Sunny
My address is 22\\3
I earn 20$ daily.""")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.